*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    padding: 0% 2%;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    /* background-color: rgba(255, 255, 255, 0.645); */
    backdrop-filter: blur(5px);
}

.overlay{
    position: absolute;
    background-color: #0077b6;
    right: 0;
    height: 100vh;
    /* z-index: 4; */
    width: 45vw;
    background: linear-gradient(180deg, #02cbfc, #0077b6);
}

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.hero-image{
    width: 100%;
}

.hero-image img{
    transform: scale(1.4) translateX(-70px) rotate(-20deg);
}

/* Hero Section */
#hero{
    height: 100vh;
    overflow: hidden;
}

.hero::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(
      360deg,
      rgba(1, 77, 117, 1) 0%,
      rgba(0, 119, 182, 1) 35%,
      rgba(29, 86, 205, 1) 65%,
      rgba(0, 212, 255, 1) 100%
    );
}

@media screen and (max-width:768px) {
    #hero{
        display: block;
        padding: 120px 30px 20px 30px;
    }

    #main-jordan{
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlay{
        display: none;
    }

}

#lead{
    margin: 50px 0;
    font-size: 15px;
    font-weight: bold;
}

#hero-head{
    font-size: 100px;
    line-height: 90px;
    /* color: red; */
}

#main-jordan{
    transform: rotate(-20deg);
    width: 900px;
}

/* Section1 */

#section1 h1{
    text-align: center;
    font-weight: bold;
    padding: 50px 0;
}

#cardsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 150px;
    
}

#card-image{
    background-color: rgba(128, 128, 128, 0.3);
    height: 300px;
    /* transform: rotate(-20deg); */
}

#review-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 150px;
}

#review-content{
    text-align: center;
}